/** Green */
$green: #2cbe5d;
$green-hover: #4cd137;

/** Blue */
$blue: #507feb;
$blue-hover: #00a8ff;

/** Red */
$red: #dc2143;
$red-hover: #e84118;

/** Yellow */
$yellow: #f4c43f;
$yellow-hover: #ffdd59;

/** Orange */
$orange: #e67e22;
$orange-hover: #f39c12;
