/** Green */
$green: #2cbe5d;
$green-hover: #4cd137;

/** Blue */
$blue: #006ce5;
$blue-hover: #89d0df;

/** Red */
$red: #f44336;
$red-hover: #ff7f7f;

/** Yellow */
$yellow: #ffcc00;
$yellow-hover: #ffe400;

/** Orange */
$orange: #e67e22;
$orange-hover: #f39c12;

/** Brown */
$grey: #999999;
$grey-hover: #bebebe;
