/**
 * Specify variables to be used for CSS styling
 */

$largeFontSize: 16px;
$defaultFontSize: 14px;
$smallFontSize: 12px;
$elementHeight: 44px;
$borderRadius: $elementHeight/2;
$defaultPadding: $elementHeight/2;
$defaultFont: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
