@import "../styles/shared/index";

.custom-btn {
  @include buttonDefault;

  &--blue {
    background-color: $blue;
    &:hover {
      background-color: $blue-hover;
    }
  }
  &--green {
    background-color: $green;
    &:hover {
      background-color: $green-hover;
    }
  }
  &--red {
    background-color: $red;
    &:hover {
      background-color: $red-hover;
    }
  }
  &--yellow {
    background-color: $yellow;
    &:hover {
      background-color: $yellow-hover;
    }
  }

  &--isCheck {
    @include icon-check;
  }

  &--isCross {
    @include icon-cross;
  }

  &--isTrash {
    @include icon-trash;
  }
}
