# This is just an example of the .env file to create (with the correct info)

PORT=8888
DB_HOST=localhost
DB_PORT=5432
DB_NAME=monash_tas_db
DB_USERNAME=postgres
DB_PASSWORD=development
DB_SYNC=true
DB_LOGS=true

