<table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                    <tbody>
                        <tr>
                            <td class = "OuterBackground">
                                <table width="100%" cellspacing="0" cellpadding="0" role="presentation"
                                    style="max-width: 632px; margin: 0 auto">
                                    <tbody>
                                        <tr>
                                            <td class="TableMessageCointainer">
                                                <div class="TableMessage">
                                                    <div>
                                                        <h4 style="font-size: 20px">You have a new offer</h4>
                                                        <p>Dear {{name}},</p>
                                                        <p>
                                                            You have been offered activity {{activity}} in
                                                            unit {{unit}}. Please login to accept or reject
                                                            the offer.
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>