<table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="margin-top: 32px">
    <tbody>
        <tr>
            <td style="background-color:white">
                <table width="100%" cellspacing="0" cellpadding="0" role="presentation"
                    style="max-width: 632px; margin: 0 auto">
                    <tbody>
                        <tr>
                            <td style="
                  font-size: 0;
                  vertical-align: top;
                  background-color: white;
                  padding-left: 16px;
                  padding-right: 16px;
                  padding-bottom: 17px;
                ">
                                <div style="
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    max-width: 320px;
                  ">
                                    <div style="font-size: 30px; line-height: 24px; height: 24px">
                                        &nbsp;
                                    </div>
                                    <div style="padding-left: 8px; padding-right: 30px; width: 300px;">
                                        <table cellspacing="0" cellpadding="0" role="presentation" style="
                        text-align: left;
                        margin-left: auto;
                        margin-right: 0;
                      ">
                                            <tbody>
                                                <tr>
                                                    <td style="
                              font-family: 'Open Sans', Arial, Helvetica,
                                sans-serif;
                              font-weight: 600;
                              margin-top: 0px;
                              margin-bottom: 0px;
                              font-size: 24px;
                              line-height: 24px;
                            ">
                                                        <span style="
                                text-decoration: none;
                                outline: none;
                                color: black;
                                display: block;
                                padding: 7px 8px;
                                display: inline;
                              ">Tutor Allocation System</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div style="
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    max-width: 200px;
                  ">
                                    <div style="line-height: 24px; height: 24px">&nbsp;</div>
                                    <div style="padding-left: 30px;">
                                        <table cellspacing="0" cellpadding="0" role="presentation" style="
                        text-align: right;
                        margin-left: auto;
                        margin-right: 0;
                      ">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <img src="https://ci6.googleusercontent.com/proxy/wJhPXRduhAF_hRov2srC-LJ6ZNx292sfKeRJiP0gjFNKMU1YFsy2xvy7ALMkwAX_C5neNzmd-MvXwX5loQAg3uXQrz4ueUFA6gMHVOUOIXVxjS2xJZm21DwyV5N4kFxIIwFWmXk3khKgMTqwWktk-K-e=s0-d-e1-ft#http://image.a.e.monash.edu/lib/fe9513737565037a74/m/1/273c0041-561c-4a21-8f66-26fe153c8eb0.jpg"
                                                            alt="Monash University" style="width: 120px" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td id="m_-1807344167341894981mkto-container">
                <table width="100%" cellspacing="0" cellpadding="0" role="presentation"
                    id="m_-1807344167341894981mkto-hero">
                    <tbody>
                        <tr>
                            <td style="
                  background-color: #ffffff;
                  padding-left: 8px;
                  padding-right: 8px;
                ">
                                <table width="100%" cellspacing="0" cellpadding="0" role="presentation"
                                    style="max-width: 632px; margin: 0 auto">
                                    <tbody>
                                        <tr>
                                            <td style="
                          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                          margin-top: 0px;
                          margin-bottom: 0px;
                          font-size: 16px;
                          line-height: 24px;
                          background-color: #f8f8f8;
                          color: #424651;
                          padding-left: 24px;
                          padding-right: 24px;
                          padding-top: 24px;
                          padding-bottom: 24px;
                          border: 10;
                          border-color: black;

                        ">
                                                <div style="
                            font-family: 'Open Sans', Arial, Helvetica,
                              sans-serif;
                            font-size: 16px;
                            line-height: 24px;
                            color: black;
                            text-align: left;   
                          ">
                                                    <div>
                                                        <h4 style="font-size: 20px">You have a new offer</h4>
                                                        <p>Dear {{name}},</p>
                                                        <p>
                                                            You have been offered activity {{activity}} in
                                                            unit {{unit}}. Please login to accept or reject
                                                            the offer.
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>